
#mainAncer{
    -fx-background-image: url("/images/homebg.jpg");
    -fx-background-color: rgba(255,255,255,1);
    -fx-background-size: cover;
}
.choice-box {
    -fx-pref-width: 150;
}

#anchor_header, #searchAncer {
    -fx-background-color: rgba(255,255,255,0.4);

}
#searchAncer {
    -fx-background-radius: 30;
}


.choice-box .context-menu {
    -fx-pref-width: 150; /* Your width for the context menu background shown */
}

.button {
-fx-opacity: 1.0;
-fx-background-color:   #FFE4B5;
}
#button_Search {
    -fx-opacity: 1.0;
}