.root{
    -fx-background-color: bisque;
    -fx-background-image: url("../images/15098_rd.jpg");
    -fx-background-size: 100% 100%;
}

#gridMain{
    -fx-border-bottom-sytle: solid ;
    -fx-border-width: 0px,0px,1px,0px;
}

.button {
    -fx-text-fill: white;
    -fx-shape: "M0,1 L1,0 L2,1 L1,2 Z";
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.label {
    -fx-font-family: "Times New Roman", Times, serif;
    -fx-font-weight: bolder;
    -fx-text-fill: #FF0000;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}